<div id="product_details">
	<h2>{{product.name}}</h2>
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<img src="" width="90%" height="300px">
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
		    <div class="row">
				<div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
					<h4>Price</h4>
					<h4>Offer in %</h4>
					<h4>Rating</h4>
					<h4>Description</h4>
					<h4>Possible Delivery Date</h4>
				</div>
				<div class="col-sm-5 col-md-5 col-lg-5 col-xl-5" >
					<h4>:</h4>
					<h4>:</h4>
					<h4>:</h4>
					<h4>:</h4>
					<h4>:</h4>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" *ngFor="let product of products">
					<h4>{{product.price}}</h4>
					<h4>{{product.offer}}</h4>
					<h4>{{product.rating}}</h4>
					<h4>{{product.descrition}}</h4>
					<h4>{{date}}</h4>
				</div>
			</div>
			<a [routerLink]="['/cart', { id:product.id }]">Buy Now</a>
		</div>
	</div>
</div>
